<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Bicycles
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <h1 class="bold">Bikes</h1>
        <div *ngFor="let b of bicycles">
            <p>{{b.model}}, {{b.creation_year}}
                <ion-button color="danger" (click)="deleteBicycle(b.id)">Delete Bicycle</ion-button>
            </p>
        </div>

        <ion-button color="primary" (click)="goToOtherPage()">Go To Other Page</ion-button>
        <ion-button color="secondary" (click)="addBicycle()">Add Bicycle</ion-button>
        <ion-button color="warning" (click)="addBicycleJSON()">Add Bicycle (JSON)</ion-button>
        <ion-button color="success" (click)="updateBicycle(bike.id)">Update Bicycle</ion-button>

        <h1 *ngIf="bike !== null" class="bold">Bike By Id {{bike.id}}</h1>
        <h1 *ngIf="bike === null">Bike By Id Not Found</h1>
        <p *ngIf="bike">{{bike.model}}, {{bike.creation_year}}</p>
    </div>
</ion-content>