<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-segment>
            <ion-segment-button value="all" (click)="goToAllProducts()">
                All Products
            </ion-segment-button>
            <ion-segment-button value="new" (click)="goToAddProducts()">
                Add New
            </ion-segment-button>
            <ion-segment-button value="manage" (click)="goToManageProducts()">
                Manage
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="container" style="top: 100px;">
        <small *ngIf="serverStatus"><i class="fas fa-exclamation-triangle"></i><br/></small>
        <small *ngIf="serverStatus">Server has not started.<br/></small>
        <small *ngIf="serverStatus">If your server is running, reload the page.</small>
    </div>
    <div class="container">

        <strong>Welcome to Gaming Products in Stock!</strong>
        <br/>
        <p>Start by selecting the tabs above.</p>
    </div>
</ion-content>