<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Gaming Product Shops
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <!-- <div id="container">
        <h1 class="bold">Gaming Products</h1>
        <div *ngFor="let p of products">
            <p>{{p.product_name}}, {{p.price}}€, Stock: {{p.stock}}
                <ion-button color="danger" (click)="deleteProduct(p.id)">Delete Product</ion-button>
            </p>
        </div>

        <!-- <ion-button color="primary" (click)="goToOtherPage()">Go To Other Page</ion-button>
        <ion-button color="warning" (click)="addProduct()">Add Product (JSON)</ion-button>
        <ion-button color="success" (click)="updateGStockProduct(product.id)">Update Product</ion-button>

        <h1 *ngIf="product !== null" class="bold">Products By ID {{product.id}}</h1>
        <h1 *ngIf="product === null">Product By ID Not Found</h1>
        <p *ngIf="product">{{product.product_name}}, {{product.price}}, Stock: {{product.stock}}</p>
    </div> -->
    <div class="container">
        <div *ngFor="let product of products">
            <app-product-cards></app-product-cards>
        </div>
    </div>
</ion-content>