<ion-header>
    <ion-toolbar>
        <ion-segment value="all">
            <ion-segment-button value="all">
                All Products
            </ion-segment-button>
            <ion-segment-button value="new" (click)="goToAddProducts()">
                Add New
            </ion-segment-button>
            <ion-segment-button value="manage" (click)="goToManageProducts()">
                Manage
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="container" style="top: 100px;">
        <small *ngIf="serverStatus"><i class="fas fa-exclamation-triangle"></i><br/></small>
        <small *ngIf="serverStatus">Server has not started.<br/></small>
        <small *ngIf="serverStatus">If your server is running, reload the page.</small>
    </div>
    <div id="main-container" class="container">
        <strong>All Available Products</strong>
        <ion-grid>
            <div>
                <ion-row>
                    <ion-col size-lg="3" size-md="4" size-sm="6" size="12" *ngFor="let prod of products">
                        <app-product-cards [product]="prod"></app-product-cards>
                    </ion-col>
                </ion-row>
            </div>
        </ion-grid>
    </div>
</ion-content>
