<ion-header>
    <ion-toolbar>
        <ion-button color="primary" (click)="goToHome()">Go To Home</ion-button>
        <br />
        <ion-title>other-page</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>El</ion-card-title>
            <ion-card-subtitle>Pepe</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            Esta bueno eso
        </ion-card-content>
    </ion-card>
</ion-content>